[submodule "dot.vim/bundle/vim-ruby"]
	path = dot.vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby
[submodule "git-prompt"]
	path = git-prompt
	url = https://github.com/lvv/git-prompt.git
[submodule "dot.vim/bundle/terminalkeys"]
	path = dot.vim/bundle/terminalkeys
	url = https://github.com/nacitar/terminalkeys.vim
[submodule "dot.vim/bundle/delimitMate"]
	path = dot.vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate
[submodule "dot.vim/bundle/vim-repeat"]
	path = dot.vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "dot.vim/bundle/vim-surround"]
	path = dot.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "dot.vim/bundle/vim-fugitive"]
	path = dot.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "dot.vim/bundle/vim-rails"]
	path = dot.vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule "dot.vim/bundle/vim-dispatch"]
	path = dot.vim/bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "dot.vim/bundle/vim-rake"]
	path = dot.vim/bundle/vim-rake
	url = https://github.com/tpope/vim-rake
[submodule "dot.vim/bundle/vim-ragtag"]
	path = dot.vim/bundle/vim-ragtag
	url = https://github.com/tpope/vim-ragtag
[submodule "dot.vim/bundle/vim-endwise"]
	path = dot.vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule "markjdb-scripts"]
	path = markjdb-scripts
	url = https://github.com/markjdb/scripts.git
[submodule "dot.vim/bundle/vim-pathogen"]
	path = dot.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
