[submodule "dot.vim/bundle/vim-ruby"]
	path = dot.vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby
[submodule "git-prompt"]
	path = git-prompt
	url = https://github.com/lvv/git-prompt.git
[submodule "dot.vim/bundle/terminalkeys"]
	path = dot.vim/bundle/terminalkeys
	url = https://github.com/nacitar/terminalkeys.vim
[submodule "dot.vim/bundle/delimitMate"]
	path = dot.vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate
[submodule "dot.vim/bundle/vim-repeat"]
	path = dot.vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat
