[submodule "dot.vim/bundle/vim-ruby"]
	path = dot.vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby
[submodule "git-prompt"]
	path = git-prompt
	url = https://github.com/lvv/git-prompt.git
[submodule "dot.vim/bundle/terminalkeys"]
	path = dot.vim/bundle/terminalkeys
	url = https://github.com/nacitar/terminalkeys.vim
[submodule "dot.vim/bundle/delimitMate"]
	path = dot.vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate
[submodule "dot.vim/bundle/vim-repeat"]
	path = dot.vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "dot.vim/bundle/vim-surround"]
	path = dot.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "dot.vim/bundle/vim-fugitive"]
	path = dot.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "dot.vim/bundle/vim-rails"]
	path = dot.vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule "dot.vim/bundle/vim-dispatch"]
	path = dot.vim/bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "dot.vim/bundle/vim-rake"]
	path = dot.vim/bundle/vim-rake
	url = https://github.com/tpope/vim-rake
[submodule "dot.vim/bundle/vim-ragtag"]
	path = dot.vim/bundle/vim-ragtag
	url = https://github.com/tpope/vim-ragtag
[submodule "dot.vim/bundle/vim-endwise"]
	path = dot.vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule "markjdb-scripts"]
	path = markjdb-scripts
	url = https://github.com/markjdb/scripts.git
[submodule "dot.vim/bundle/vim-pathogen"]
	path = dot.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "dot.vim/bundle/minibufexpl.vim"]
	path = dot.vim/bundle/minibufexpl.vim
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "dot.vim/bundle/tagbar"]
	path = dot.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "dot.vim/bundle/syntastic"]
	path = dot.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "dot.vim/bundle/vim-characterize"]
	path = dot.vim/bundle/vim-characterize
	url = https://github.com/tpope/vim-characterize.git
[submodule "dot.vim/bundle/vim-jdaddy"]
	path = dot.vim/bundle/vim-jdaddy
	url = https://github.com/tpope/vim-jdaddy
[submodule "jhb-gdb"]
	path = jhb-gdb
	url = https://github.com/bsdjhb/kdbg.git
[submodule "dot.vim/bundle/rust.vim"]
	path = dot.vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "dot.vim/bundle/vim-tmux-focus-events"]
	path = dot.vim/bundle/vim-tmux-focus-events
	url = https://github.com/tmux-plugins/vim-tmux-focus-events.git
[submodule "dot.vim/bundle/vim-colors-solarized"]
	path = dot.vim/bundle/vim-colors-solarized
	url = https://github.com/bdrewery/vim-colors-solarized.git
[submodule "dot.tmux/plugins/tpm"]
	path = dot.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "dot.vim/bundle/xterm-color-table"]
	path = dot.vim/bundle/xterm-color-table
	url = https://github.com/guns/xterm-color-table.vim
[submodule "dot.vim/bundle/vim-solarized8"]
	path = dot.vim/bundle/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule "dot.vim/bundle/vim-lsp"]
	path = dot.vim/bundle/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
[submodule "dot.vim/bundle/vim-plug"]
	path = dot.vim/bundle/vim-plug
	url = https://github.com/junegunn/vim-plug.git
